body {
  margin: 71px 93px;
  background: #2C2B3D
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

ul {
  list-style-type: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  
  
}
ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

h1, ul, footer {
  
  font-family: 'JetBrains Mono', monospace;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 202px;
  gap: 82px;
}

h1 {
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
  
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

span {
  color: #00BFA6
  
}

.line, a {
  width: 568px;
  height: 0;
  margin: 0 auto 8px;
  color: #FFFFFF;
  
 }

footer {
  margin-top: 157px;
  width: 568px;
  height: 55px;
  margin: 157px auto 23px;
  border-top: 1px solid #00BFA6;
  padding-top: 27px;
  text-align: center;
  color: #FFFFFF;
}



/* Telas pequenas (mobile) */


@media (max-width: 768px) {
  body {
    margin: 20px;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  ul {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  h1 {
    font-size: 28px;
    line-height: 32px;
    margin-top: 40px;
  }

  p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
  }

  .line, a {
    width: 100%;
    height: 0;
    margin: 0 auto 8px;
    color: #FFFFFF;
  }

  footer {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    margin: 0 auto 20px;
    padding-top: 10px;
    text-align: center;
  }

  main {
    flex-direction: column;
    margin-top: 40px;
    gap: 30px;
  }

  main img {
    margin: 50px;
  }
}
 


  


